@media only screen and (min-width: 1440px) {
        .dOGdaN {
            width: 1440px;
        }
    }
   
    .dOGdaN {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        margin-right: auto;
        margin-left: auto;
        background: #efefef;
        border-radius: unset;
    }

.bsxLcZ {
    display: flex;
    padding-top: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.jZosWU {
    margin: 0 auto;
    width: 17%;
    max-height: 100vh;
    position: sticky;
    overflow-y: scroll;
    scrollbar-width: none;
    top: 16px;
    background-color: transparent;
    display: flex;
    padding-bottom: 117px;
    flex-direction: column;
    color: rgb(56, 56, 61);
    font-size: 14px;
    line-height: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.cjqkgR {
    position: relative;
    display: flex;
    margin-bottom: 16px;
    padding: 12px 8px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.efUuhP {
    margin-bottom: 8px;
    padding-left: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}

.jZosWU a {
    color: rgb(56, 56, 61);
}

.bHIPhv:hover {
    background-color: #efefef;
    transition: all 0.3s ease 0s;
}

.bHIPhv a {
    display: flex;
    padding: 7px 16px;
    -webkit-box-align: center;
    align-items: center;
    /* border-radius: 8px; */
    cursor: pointer;
}

a {
    color: rgb(11, 116, 229);
    text-decoration: none;
}

a {
    background-color: transparent;
}

.iFfPOy {
    flex: 0 0 32px;
    height: 32px;
    margin-right: 8px;
    line-height: 0;
}

.iFfPOy img{
    width: 32px;
    height: 32px;
    opacity: 1;
}

.ctcPzh {
    display: flex;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}

/* /// */
.cFhbdX {
    padding: 16px;
    background-color: rgb(255, 255, 255);
    /* border-radius: 8px; */
}

.cFhbdX h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 0px;
}

/* //// */
.mxUBJ {
    width: calc(97% - 254px);
    overflow-x: hidden;
 
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
}

.dDEtQq{
    background-color: rgb(255, 255, 255);
    /* border-radius: 8px; */


}

.product_container{
    padding-top: 16px;
  /* border-radius: 8px; */

}

.product_frame{
    background-color: rgb(255, 255, 255);
    padding: 1rem;  
    margin-bottom: 1rem;
}

.product-main{
    display: flex;
    flex-wrap: wrap;
}


div{
    border-radius: 8px;

}
/* /// */


.bCOUwr {
    width: 100%;
    position: relative;
}

.bCOUwr .content {
    overflow: hidden;
}

.content{
    padding: 1rem 0;
}

.bCOUwr .content .slider{
 

}

/* .slider{
    gap: 8px;
    flex-wrap: wrap;
    display: flex;

} */

.uhtwO.active {
    color: rgb(10, 104, 255);
    border: 1px solid rgb(10, 104, 255);
    font-weight: 600;
}

.uhtwO {
    flex-direction: row;
    padding: 0px 16px;
    height: 32px;
    background: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(221, 221, 227);
    border-radius: 16px;
    font-size: 14px;
    line-height: 150%;
    cursor: pointer;
    display: flex;
    text-align: center;
    color: rgb(39, 39, 42);
}

.uhtwO:hover{
    background-color: #efefef;
    display: inline-flex;
    transition: all 0.5s ease-in-out 0s;
}

.product_image {
    width: 70%;
    margin: 0 auto;
}

/* .product_border{
    background-color: white;

}
.product_background{
    background-color: #efefef;
    padding: 1px;

} */

.wbnRK img {
    display: block !important;
    object-fit: contain;
    border-radius: 8px;
    width: 495px !important;
    height: 250px;
}

.main-swiper-slide img {
    display: block;
}

.swiper .swiper-pagination {
    position: relative;
    top: 0rem !important;
}

.swiper-pagination-bullet {
    width: 16px !important;
    height: 2px !important;
    border-radius: 4px !important;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.swiper-pagination-bullet-active {
    width: 24px !important;
    height: 2px !important;
    background-color: rgb(10, 104, 255);
    cursor: pointer;
}


.cFhbdX .nav-item{
    margin-right: 20px;
}


