*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.proDetails{    
 
   background-color:  #efefef;
    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
}

.proframe{
   width: 95%;
   margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 340px;
    gap: 24px;
}

.proContainer{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 24px;
    border-radius: 8px;
    -webkit-box-align: start;
    align-items: start;
   
}

.proright{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    overflow: hidden;
    gap: 16px;
}

.proleft{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 400px;
    background: white;
    position: sticky;
    top: 12px;
    gap: 16px;
    padding: 16px 0px 12px 0px;
    
}



.kXwtNH {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 16px;
}

.kXwtNH .image-frame {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgb(235, 235, 240);
    position: relative;
}

.img-pro{
    width: 368px;
    height: 368px;
    margin: 0 auto;
}
.position-pointer{
    position: relative;
    cursor: pointer;
}

.hbqSye{
    width: 368px;
    height: 368px;
    z-index: 2;
    opacity: 1;
}

.hbqSye {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
}

img {
    max-width: 100%;
}


.eKNqTX {
    display: flex;
    height: 54px;
}


.bCOUwr {
    width: 100%;
    position: relative;
}

.bCOUwr .content {
    overflow: hidden;
}

.content{
    padding: 0;
}

.slider{
    gap: 8px;
    transition: all 0.5s ease-in-out 0s;
    transform: translateX(0px);
}

.bCOUwr .content .slider {
    display: inline-flex;
    transition: all 0.5s ease-in-out 0s;
    min-width: 100%;
}

.jWvPKd {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 54px;
    height: 54px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgb(235, 235, 240);
    overflow: hidden;
}

.uPvBM {
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.bufoOo{
    gap: 16px;
}
.bufoOo {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    padding: 16px;
    gap: 4px;
}
.eDHhpS {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: rgb(39, 39, 42);
    gap: 16px;
    padding-bottom: 16px;
}
.column-title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.iWzGzX {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
 .iWzGzXy{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.iXccQY {
    margin: 0px;
    color: rgb(39, 39, 42);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    word-break: break-word;
    white-space: break-spaces;
}
.ZcTap {
    display: flex;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.ZcTap .brand-and-author {
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
}
.ZcTap h6 {
    margin: 0px;
    color: rgb(36, 36, 36);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.jkiKKI .product-price {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(39, 39, 42);
    gap: 8px;
}
.jkiKKI .product-price__current-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    color: rgb(255, 66, 78);
    font-size: 24px;
}
sup {
    top: -0.5em;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.jkiKKI .product-price__discount-rate {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding: 0px 4px;
    background: rgb(245, 245, 250);
    border-radius: 8px;
    color: rgb(39, 39, 42);
}


.fGaJQu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.doDlAA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.bPJqXH {
    color: rgb(39, 39, 42);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin: 0px;
    padding-right: 20px;
}
.fKNxKo {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 12px;
}


.dhKKOZ {
    cursor: pointer;
    display: block;
    color: rgb(36, 36, 36);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    position: relative;
    background-color: white;
    outline: 0px;
    padding: 4px 16px;
    align-items: flex-start;
    gap: 8px;
}
.dhKKOZ span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.adsfad {
    display: flex;
    align-items: center;
    padding: 4px 16px 4px 4px;
    gap: 8px;
}
.adsfad>img{
    width: 42px;
    height: 42px;
}
.dhKKOZ .borderr{
    position: absolute;
    inset: -1px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;

}

.dhKKOZ .active{
    position: absolute;
    inset: -1px;
    border: 1px solid #0a68ff;
    border-radius: 8px;

}


/* cart */
.grJPUk {
    display: flex;
    flex-direction: column;
}
.iueye {
    position: sticky;
    top: 12px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    margin: 1rem 0;
}

.bfJGpi {
    display: flex;
    padding-bottom: 12px;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid rgb(235, 235, 240);
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.dCPDNj {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: rgb(39, 39, 42);
    cursor: pointer;
}
.dCPDNj > div {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.eEcWHI{
    border-top: none;
}
.eEcWHI {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.mnvbc{
        display: flex;
        flex-direction: column;
        gap: 0px;
}
.myqYs {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    color: rgb(36, 36, 36);
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
}
.myqYs > a {
    display: flex;
    flex: 1 1 0%;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
}
.myqYs > a > span {
    color: rgb(36, 36, 36);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.bSSDTY {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
}
.bSSDTY .item.review {
    flex-shrink: 0;
}
.bSSDTY .item {
    display: flex;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(39, 39, 42);
    white-space: nowrap;
}
.bSSDTY .item > .title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
}
.bSSDTY .item > .sub-title {
    color: rgb(128, 128, 137);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.bSSDTY .item > .title > span {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.bSSDTY .item > .title > img{
    width: 16px;
    aspect-ratio: auto 16 / 16;
    height: 16px;
 }
.cbfhs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.lgdBsd {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}
.lgdBsd .labell {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0px;
    color: rgb(39, 39, 42);
}
.lgdBsd .group-input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.lgdBsd .group-input button {
    display: flex;
    padding: 6px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}


.lgdBsd .group-input input {
    width: 40px;
    margin: 0px 4px;
}
.lgdBsd .group-input input {
    height: 32px;
    color: rgb(36, 36, 36);
    font-size: 14px;
    text-align: center;
    outline: none;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(166, 166, 176);
    background: white;
}
.lgdBsd .group-input button, .lgdBsd .group-input input {
    height: 32px;
    color: rgb(36, 36, 36);
    font-size: 14px;
    text-align: center;
    outline: none;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(166, 166, 176);
    background: white;
}
.VKBfi {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}
.fcwSuV {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: rgb(39, 39, 42);
}
.HGbRm{
    display: flex;
    align-items: center;
    gap: 8px;
}
.HGbRm{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.eEcWHI .group-button {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 8px;
}
.gbcanz {
    background: rgb(255, 66, 78);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 16px;
    line-height: 150%;
}
.gbcanz > span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.jZCrXg {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    white-space: nowrap;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 150%;
    color: rgb(10, 104, 255);
    border: 1px solid rgb(10, 104, 255);
    border-radius: 4px;
}

.jZCrXg:hover{
    background-color: #efefef;
}

.bPRVIq {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}
.lswfd{
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 4px;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        flex: 1;
        min-height: 21px;
}

.lswfd>span{
    color: rgb(10, 104, 255);
}
.niBXE {
    color: rgb(39, 39, 42);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 100%;
}
.desjzq {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 8px;
}
.desjzq .shipping-info__item:last-child {
    margin: 0px;
}

.desjzq .shipping-info__item {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    margin-right: 12px;
    z-index: 1;
    font-size: 13px;
    line-height: 20px;
    color: rgb(120, 120, 120);
    width: 100%;
}
.desjzq .shipping-info__item__header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.desjzq .shipping-info__item__header__logo {
    vertical-align: middle;
    line-height: 0;
}
.desjzq .shipping-info__item__header__highlight {
    font-size: 14px;
    line-height: 150%;
    color: rgb(39, 39, 42);
    margin-left: 8px;
}
.desjzq .shipping-info__item__fee {
    display: flex;
}
.desjzq .shipping-info__item__fee_name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.desjzq .shipping-info__item__fee_name>span {
        color: #27272A;
}

/* thông tin chi tiết */

.qutye {
    display: flex;
    flex-direction: column;
}
.hNNYbU {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid rgb(235, 235, 240);
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: rgb(39, 39, 42);
    gap: 8px;
}
.guWvLv {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: rgb(39, 39, 42);
    -webkit-box-align: center;
    align-items: center;
        display: grid;
        grid-template-columns: 55% 45%;
        gap: 4px;
}
.guWvLv span {
    max-width: 300px;
    color: rgb(128, 128, 137);
    font-weight: 400;
}
.guWvLv span {
    font-weight: 400;
}
.chhHdv {
    word-break: break-word;
    color: rgb(39, 39, 42);
}


/* mô tả sp */
.eba-dki {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 8px;
    color: rgb(36, 36, 36);
    text-align: justify;
    border-radius: 4px;
}
.eba-dki * {
    line-height: 150%;
}
.imwRtb {
    overflow: hidden;
    height: 250px;
}
.xbBes .btn-more {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 39px;
    margin: 10px auto 0px;
    color: rgb(24, 158, 255);
    font-size: 13px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
}
.xbBes .gradient {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

/* size */

element.style {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 8px;
    align-items: center;
}



/* đánh giá */
.gCaHEu {
    word-break: break-word;
    opacity: 1;
    color: rgb(36, 36, 36);
    min-height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding-top: 8px;
    padding-left: 10px;
}
.gCaHEu .customer-reviews__inner {
    padding-bottom: 16px;
}
.gCaHEu .customer-reviews__top {
    display: flex;
}
.dZYmgO {
    padding: 0rem 0rem 3rem 0rem;
    user-select: none;
}
.gtPdrn {
    display: block;
    background: white;
}
.dZYmgO .review-rating__heading {
    margin: 0px 0px 16px;
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
}
.dZYmgO .review-rating__summary {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.dZYmgO .review-rating__total {
    margin-top: 1px;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: rgb(128, 128, 137);
}
.dZYmgO .review-rating__detail {
    margin: 12px 0px 0px;
}
.dZYmgO .review-rating__point {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    white-space: nowrap;
    margin: 0px 16px 0px 0px;
}
.dZYmgO .review-rating__level {
    display: flex;
    margin: 4px 0px;
    -webkit-box-align: center;
    align-items: center;
}
.hphKLs {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.lfisVy {
    width: 138px;
    height: 6px;
    background-color: rgb(245, 245, 250);
    position: relative;
    z-index: 1;
    margin: 0px 8px;
    border-radius: 99em;
}
.dZYmgO .review-rating__number {
    font-size: 11px;
    line-height: 16px;
    color: rgb(128, 128, 137);
}
.hphKLs span {
    display: inline-block;
    vertical-align: middle;
}
.hphKLs > div {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
.hphKLs {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.dZYmgO .review-rating__stars span:first-child {
    margin: 0px 2px 0px 0px;
}


.jvWfki {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 24px;
    border-radius: 8px;
    -webkit-box-align: start;
    align-items: start;
}

.dpVjwc {
    display: flex;
    padding: 16px 0px; 
    border-top: 1px solid rgb(242, 242, 242);
}
.dpVjwc .review-comment__user {
    flex-basis: 240px;
    flex-shrink: 0;
}
.dpVjwc .review-comment__user-inner {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.dpVjwc .review-comment__user-avatar {
    margin: 0px 12px 0px 0px;
    width: 50px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.iRypZD.has-character {
    position: relative;
    padding-top: 100%;
    background-color: rgb(194, 225, 255);
}
.iRypZD.has-character img {
    display: none;
}
.iRypZD img {
    display: block;
    object-fit: cover;
    width: inherit;
    height: inherit;
}
.dpVjwc .review-comment__user-name {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: capitalize;
}
.dpVjwc .review-comment__user-date {
    font-size: 13px;
    line-height: 20px;
    color: rgb(128, 128, 137);
}
.iRypZD.has-character span {
    position: absolute;
    inset: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}

.dpVjwc .review-comment__rating-title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 4px;
}
.dpVjwc .review-comment__rating {
    flex-shrink: 0;
}
.dpVjwc .review-comment__seller-name-attributes {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 16px;
}
.dpVjwc .review-comment__seller-name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(0, 171, 86);
}
.dpVjwc .review-comment__check-icon {
    display: block;
    width: 14px;
    height: 14px;
    background-color: rgb(0, 171, 86);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin: 0px 6px 0px 0px;
}
.dpVjwc .review-comment__content {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 0px 8px;
    white-space: pre-wrap;
}
.dpVjwc .review-comment__created-date {
    font-size: 13px;
    line-height: 20px;
    margin: 0px 0px 16px;
    color: rgb(128, 128, 137);
}
.dpVjwc .review-comment__attributes {
    font-size: 13px;
    line-height: 20px;
    color: rgb(128, 128, 137);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 2px;
}
.dpVjwc .review-comment__attributes--item {
    position: relative;
}
.dpVjwc .review-comment__attributes--item:first-child > span {
    padding-left: 0px;
}
.dpVjwc .review-comment__attributes--item > span {
    display: inline-block;
    padding: 0px 8px 0px 10px;
}


.circle-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden; /* Đảm bảo hình ảnh bên trong không vượt ra khỏi khung hình tròn */
    border: 2px solid #ccc; /* Viền màu xám, độ dày 2px */
  }
  
  .circle-image__img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh vừa khít với khung hình tròn */
  }

.lturye::after{
    content: "";
    display: block;
    height: 224px;
    position: absolute;
    left: -12px;
    border: 1px solid rgb(235, 235, 240);
}

.custom-toast-container {
    margin-bottom: 3rem; /* Điều chỉnh khoảng cách từ dưới lên trên (ở đây là 3rem) */
  }

.description {
    white-space: pre-line; /* các khoảng trắng và xuống dòng tự động */
  }
  
.description div {
    margin-bottom: 5px; /* Khoảng cách giữa các dòng */
  }
  